/* variaveis CSS */
:root{
    --fundo-principal: radial-gradient(circle at center, #2E1B50 0%, #1D1136 60%, #0D0719 100%);
    --texto: #FFD166; /* Amarelo */
    --botao-opcao: #06D6A0; /* verde ciano */
    --botao-opcao2: #EF476F; /* vermelho */
    --titulo: 'Fredoka', sans-serif; 
    --corpo-texto: 'Poppins', sans-serif; 
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: var(--fundo-principal);
    background-attachment: fixed;
    min-height: 100vh;
}